*{
    box-sizing: border-box;
}

:root{
    --lightmaroon: hsl(0, 100%, 99%);
    --elRojo: rgb(218, 41, 28)
}

a{
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    height: 100%;

}

i{
    cursor: pointer;
}

body{
    background-color: var(--lightmaroon);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
   
}




/* ------------------------------- HEADER -------------------------------*/

header{
    background-color: var(--lightblue);
    margin: 10px;
    padding: 10px;
    width: 100vw;
    height: 100px;
}

.header{
    width: 100vw;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1000;
    border-top: 0.5px solid silver;
    border-bottom: 0.5px solid silver;
    background-color: hsla(0, 0%, 100%, 0.5);
}

.header div{
    display: flex;
    height: 100%;
    flex-grow: 2;
    margin: 10px;
    padding: 10px;
    align-items: center;
   
}


nav{
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigationContainer{
    display: flex;
    height: 3rem;
    position: relative;
    position: fixed;
    top: 110px;
    z-index: 1000;
   
}

.aContainer{
    margin: 5px;
    width: 220px;
    display: flex;
    justify-content: center;
}

.navigationItem{
    text-decoration: none;
    display: inline-block;
    margin: 5px 2rem;
    scroll-behavior: smooth;
    
}

.navigationItem a:hover{
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.3s ease;
}

/*----*/

.shopNameTitle{
    letter-spacing: 5px;

}

/*----*/

.subtitleContainer{
    letter-spacing: 5px;
    display: flex;
    
}


/*----*/

.headerRightContainer{
    position: relative;
    
}

.headerRightContainer input{
    background-color: transparent;
    border-top: 0.5px solid black;
    border-bottom: 0.5px solid black;
    height: 30px;
    width: 200px;
    border-left: none;
    border-right: none;
    padding: 10px;
    color: var(--elRojo);
    letter-spacing: 3px;
    cursor: pointer;
    margin-right: 20px;
}

.headerRightContainer a{
    margin-left: 20px;
} 

.headerRightContainer input:focus{
    border: none;
    outline: none;
}


.headerRightContainer i{
    margin: 5px 20px;
    font-size: 1.2rem;
}

.headerRightContainer i:hover{
    color: var(--elRojo);
    cursor: pointer;
    transition: 0.3s linear;
}

.basketIconContainer{
    width: 100px;
}

#basketIcon{
    margin: 10px;
    padding: 10px;
}



#basketNumber{
   
    border: 2px solid orange;
}








/* ------------------------------- MAIN -------------------------------*/



main{
    padding: 20px;
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
    
    
}

.itemContainer{
    width: 100vw;
    display: grid;
    position: relative;
    grid-template-columns: repeat(4, 1fr);
}

.goUpContainer{
    width: 50px;
    position: fixed;
    z-index: 1000;
    top: 133px;
    left: 12px;
    font-size: 1.8rem;
    display: flex;
   
}

#goUp:hover{
    text-shadow: 1px 1px 10px purple;
}

.item{   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: clamp(300px, 30vw, 300px);
    height: 500px;
    position: relative;
    left: 30px;
    margin-top: 10px;
    
}

.item img:hover{
    box-shadow: 0px 0px 10px silver;
    
 
}

.item div{
    width: 250px;
    display: flex;
    justify-content: center;
  
}

.itemImage{
    border: none;
}

.itemImage{
   width: 150px;
   height: 400px;
}

.itemImage:hover{
    cursor: pointer;
}




.addSection{
    position: relative;
    margin: 6px;
    font-size: 1.4rem;
    border-top: 0.5px solid grey;
    border-bottom: 0.5px solid grey;
    display: flex;
    align-items: center;
}

.addToWishlist{
    margin: 5px;
    padding: 5px;

}

.addToWishlist:hover, .addToCart:hover{
    color: var( --elRojo);
    transition: 0.3s linear;
}



.counter{
    display: flex;
    align-items: center;
    width: 200px;
    height: 20px;
    position: relative;
    font-size: 20px;
    
    /*background-color: lightgreen;*/
}

.counter i{
    margin: 2px 10px;
   /* border: 1px solid blue;*/
    cursor: pointer;
}



.itemTitle{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: baseline;
    width: 100%;
}

.itemTitleDesc{
    font-size: 0.9rem;
    width: 200px;
}


.itemTitle p{
    margin: 2px 2px;
    letter-spacing: 1px;
    
}












footer{
    width: 100vw;
    border-top: 0.5px solid grey;
    border-bottom: 0.5px solid grey;
    display: flex;
    justify-content: center;
    margin: 20px;
}

.footer{
    width: 100vw;
    /*border: 2px solid orange;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.subscribeNewsletter{
    width: 100vw;
    height: 150px;
    /*border: 2px solid blue;*/
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    padding: 5px;
    cursor: pointer;
    letter-spacing: 2px;
}

.subscribeNewsletter h1:hover{
    font-size: 2.2rem;
    transition: 0.5s ease;
    
}

.contacts{
    display: flex;
    width: 100vw;
    height: 300px;
   /* border: 2px solid green;*/
}

.contacts ul{
    width: 100%;
    position: relative;
}

.contacts div{
    /*border: 2px solid purple;*/
    width: 100%;
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
   
}

.one{
    position: absolute;
    top: 50px;
    left: 0;
}

.two{
    position: absolute;
    top: 150px;
    left: 0;
}

.contacts div li{
    width: 100%;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin: 0.75rem 1.25rem;
    display: flex;
    justify-content: center;
    cursor: pointer;
    letter-spacing: 2px;
}

.contacts div li:hover{
    transition: 0.5s ease;
    font-size: 1.2rem;
}









@media (max-width: 1300px){
   
    .item{
        left: 40px;
    }
}

@media (max-width: 1200px){
   
    .item{
        left: 20px;
    }
}

@media (max-width: 1100px){
    .itemContainer{
        grid-template-columns: repeat(2, 1fr);
        border: 2px solid blue;
    }

    
    .item{
        left: 90px;
    } 

    .cartItems{
        grid-template-columns: repeat(2, 1fr);
    }

    .header{
        flex-direction: column;
        
    }
   
    .header div{
        height: 40px;
       
    }

    .searchHomeContainer input{
        position: relative;
        left: -20px;
        width: 200px;
    }

    .searchHomeContainer i{
        margin: 5px;
    }
    
}


@media (max-width: 900px){
    .itemContainer{
        grid-template-columns: 1fr;
        
    }

    
    .item{
        left: 290px;
    }
}

@media (max-width: 800px){
   
    .item{
        left: 200px;
    }
}


@media (max-width: 750px){
   
    .item{
        left: 180px;
    }
}

@media(max-width: 700px){
   
    
    .item{
        left: 150px;
    }
}


@media (max-width: 650px){
   
    .item{
        left: 100px;
    }
}

@media (max-width: 600px){
   
    .item{
        left: 80px;
    }
}

@media (max-width: 550px){
   
    .item{
        left: 60px;
    }
}

@media (max-width: 500px){
   
    .item{
        left: 50px;
    }
}

@media (max-width: 450px){
   
    .item{
        left: 40px;
    }
}

@media (max-width: 400px){
   
    .item{
        left: 30px;
    }
}

@media (max-width: 350px){
   
    .item{
        left: 15px;
    }
}